@keyframes animasi {
    100% {
        background-position: 25% 50%;
    }
}

body {
    background-image: url("ffflux.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    animation: animasi 5s infinite alternate ease-in;
    margin: 0;
}
